@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Playfair+Display&display=swap');
body{
    background-color: lemonchiffon;
    font-family: 'Merriweather', serif;
}

.container{
    display:flex;
    justify-content:center;
    align-items: center;
    padding:50px;
    margin: auto;
    margin-top: 50px;
    width: 500px;
    border-radius: 50px;
    background-color: dimgray;
    color: white;
}
h2{
    font-size: 40px;
}
.btns{
    display:flex;
    justify-content:center;
    align-items: center;

}
.btns button{
    color: white;
    border: 1px solid whitesmoke;
    border-radius: 7px;
    text-align: center;
    width: 75px;
    padding: 5px 10px;
    margin: 30px ;
}
.btns button :hover{
    cursor:pointer;
}
#add-btn{
    background-color:forestgreen;
}
#deduct-btn{
    background-color:rgb(228, 21, 21);
}
#save-btn{
    background-color:rgb(253, 169, 11);
}
.history{
    margin: 30px;
    text-align:center;
    font-size: 20px;
    font-weight: bold;
}